{{!-- The following component displays Ember's default welcome message. --}}
This button should not have SemanticUI styles:
<button class="ui button">
  Button!
</button>
{{!-- Feel free to remove this! --}}

{{outlet}}